<mat-sidenav-container class="shell">
  <mat-sidenav class="shell__sidenav" mode="side" opened>
    <div class="shell__brand">
      <button class="shell__brand-button" type="button">
        <mat-icon>forum</mat-icon>
        <span>{{ appName }}</span>
      </button>
    </div>

    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/chat"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListItemIcon>chat</mat-icon>
        <span matListItemTitle>Chat</span>
      </a>

      <a
        mat-list-item
        routerLink="/settings"
        routerLinkActive="is-active"
      >
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Einstellungen</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="shell__content-wrapper">
    <mat-toolbar class="shell__topbar">
      <span class="shell__topbar-title">Workspace</span>

      <span class="shell__spacer"></span>

      <button mat-icon-button aria-label="Benutzerprofil">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <main class="shell__content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>